   <!-- header -->
<header>
    <div class="container-fluid px-lg-4" style="background-color:aqua;">
        <nav class="py-4">
            <div class="logo" id="logo">
                <a href="Anasayfa.aspx">Yemek Tarifleri</a>

            </div>
            <label for="drop" class="toggle">Menu</label>
            <input type="checkbox" id="drop">
            <ul class="menu mt-md-3">
                <li class="mr-lg-2"><a href="/Home/Index">ANASAYFA</a></li>
                <li class="mr-lg-2"><a href="GununYemegi.aspx" class="scroll">GÜNÜN YEMEĞİ</a></li>
                <li class="mr-lg-2"><a href="TarifOner.aspx" class="scroll">TARİF ÖNER</a></li>
                <li class="mr-lg-2"><a href="Hakkimizda.aspx" class="scroll">HAKKIMIZDA</a></li>
                <li><a href="İletisim.aspx">İLETİŞİM</a></li>
            </ul>
        </nav>
    </div>
</header>
<!-- //header -->
