<form id="form1" runat="server">

    <div class="main-top py-1">
        <!-- header -->
        <header>
            <div class="container-fluid px-lg-4">
                <nav class="py-4">
                    <div class="logo" id="logo">
                        <a href="Anasayfa.aspx">Yemek Tarifleri</a>

                    </div>
                    <label for="drop" class="toggle">Menu</label>
                    <input type="checkbox" id="drop">
                    <ul class="menu mt-md-3">
                        <li class="mr-lg-2"><a href="/Home/Index">ANASAYFA</a></li>
                        <li class="mr-lg-2"><a href="GununYemegi.aspx" class="scroll">GÜNÜN YEMEĞİ</a></li>
                        <li class="mr-lg-2"><a href="TarifOner.aspx" class="scroll">TARİF ÖNER</a></li>
                        <li class="mr-lg-2"><a href="Hakkimizda.aspx" class="scroll">HAKKIMIZDA</a></li>
                        <li><a href="İletisim.aspx">İLETİŞİM</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <!-- //header -->
        <!-- banner -->
        <div class="main-w3pvt">
            <div class="container-fluid">
                <div class="row">
                    <div class="style-banner">
                        <h1 class="text-white">Yemek Tarifi Sitemize Hoşgeldiniz</h1>
                        <p class="mt-5 text-white">Yemeklerimizi Denemek İster misiniz?</p>
                        <a href="#about" class="btn button-style ">Daha Fazla Gör</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- //banner -->
    </div>
