@model YemekTarifleri.Models.StateModelStyle
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<title>Anasayfa</title>
<h2>Anasayfa</h2>
<section class="content">
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>@Model.YemekSayisi</h3>
                    <p>Yemek Sayısı</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
                <a href="/Admin/Yemek/Index" class="small-box-footer">Ayrıntılar.. <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div><!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>@Model.MesajSayisi</h3>
                    <p>Mesaj Sayısı</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                <a href="/Admin/Mesaj/Index" class="small-box-footer">Ayrıntılar..<i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div><!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>@Model.YorumSayisi</h3>
                    <p>Yorum Sayısı</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-add"></i>
                </div>
                <a href="/Admin/Yorum/Index" class="small-box-footer">Ayrıntılar.. <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div><!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>@Model.TarifSayisi</h3>
                    <p>Tarif Sayısı</p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
                <a href="/Admin/Tarif/Index" class="small-box-footer">Ayrıntılar <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div><!-- ./col -->
     
</section>