
@{
    ViewBag.Title = "TarifOner";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<style type="text/css">
    .auto-style8 {
        margin-left: 40px;
        width: 568px;
    }

    .auto-style10 {
        text-align: right;
        height: 26px;
        width: 357px;
        color: #990000;
    }

    .auto-style11 {
        height: 26px;
        width: 568px;
    }

    .auto-style13 {
        width: 357px;
    }

    .auto-style14 {
        text-align: right;
        color: #990000;
        width: 357px;
    }

    .auto-style15 {
        width: 568px;
    }
</style>
@*<div class="main-top4 py-1">
     header 
    <header>
        <div class="container-fluid px-lg-4">
            <nav class="py-4">
                <div class="logo" id="logo">
                    <a href="Anasayfa.aspx">Yemek Tarifleri</a>

                </div>
                <label for="drop" class="toggle">Menu</label>
                <input type="checkbox" id="drop">
                <ul class="menu mt-md-3">
                    <li class="mr-lg-2"><a href="index.html"><a href="Anasayfa.aspx">ANASAYFA</a></li>
                    <li class="mr-lg-2"><a href="#about" class="scroll"><a href="GununYemegi.aspx">GÜNÜN YEMEĞİ</a></li>
                    <li class="mr-lg-2"><a href="#services" class="scroll"><a href="TarifOner.aspx">TARİF ÖNER</a></li>
                    <li class="mr-lg-2"><a href="#features" class="scroll"><a href="Hakkimizda.aspx">HAKKIMIZDA</a></li>
                    <li><a href="İletisim.aspx" id="#contact" class="scroll">İLETİŞİM</a></li>
                </ul>
            </nav>
        </div>
    </header>
     //header 
     banner 
    <div class="main-w3pvt">
        <div class="container-fluid">
            <div class="row">
                <div class="style-banner">
                    <h1 class="text-white">Sitemize bir tarif bırakmak ister misiniz?</h1>
                    <p class="mt-5 text-white"></p>
                    <a href="#about" class="btn button-style ">Tarif Bırak</a>
                </div>
            </div>
        </div>
    </div>
     //banner 
</div>*@
    <h2 class="w3_head">Tarif Öner</h2>
    <hr />
    <div class="container">
        <div class="bg-info text-white text-center py-2 mt-5">
            <h2>Bir Tarifte Sen Bırak</h2>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div>
                    <img src="/Banner Foto/Header1.jpg" width="100%" height="435" style="border: 0" />
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <form action="/Tarifs/TarifOner" method="post">
                    <div class="card mt-4">
                        <div class="card-body p-3">
                            <div class="form-group">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fa fa-user text-info"></i>
                                        </div>
                                    </div>
                                    <input type="text"  placeholder="Tarif Adı" CssClass="form-control"></input>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fa fa-comment text-info"></i>
                                        </div>
                                    </div>
                                    <textarea  placeholder="Malzemeler" CssClass="form-control" Height="80px" TextMode="MultiLine" Width="450px"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fa fa-comment text-info"></i>
                                        </div>
                                    </div>
                                    <textarea placeholder="Yapılış" Height="150px" TextMode="MultiLine" Width="450px" CssClass="form-control"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fa fa-tag text-info"></i>
                                        </div>
                                    </div>
                                    <input type="file" ID="FileUpload1" runat="server" Width="450px" CssClass="form-control" Height="40px" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fa fa-user text-info"></i>
                                        </div>
                                    </div>
                                    <input type="text" ID="TxtTarifOneren" runat="server" placeholder="Tarif Öneren" Width="450px" CssClass="form-control"></input>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fa fa-envelope text-info"></i>
                                        </div>
                                    </div>
                                    <input type="email" placeholder="Mail Adresi" TextMode="Email" Width="450px" CssClass="form-control"></asp:TextBox>
                                </div>
                            </div>
                            <div class="text-center">
                                <button CssClass="btn btn-info btn-block" Height="40px" Text="Tarif Öner"  Style="margin-right: 100px" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

